<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="CheckAsm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="CheckAsm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <applicationSettings>
    <CheckAsm.Properties.Settings>
      <setting name="CheckAsm_net_booring_checkasm_WS_Test" serializeAs="String">
        <value>http://www.amberfish.net/ErrorReporting.asmx</value>
      </setting>
      <setting name="EnableUsageStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateManifestUrl" serializeAs="String">
        <value>http://www.amberfish.net/manifest.xml</value>
      </setting>
      <setting name="EnableStatusRollup" serializeAs="String">
        <value>True</value>
      </setting>
    </CheckAsm.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CheckAsm.Properties.Settings>
      <setting name="ManifestUrl" serializeAs="String">
        <value>http://www.amberfish.net/pad.xml</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EulaAccepted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplaySocialBar" serializeAs="String">
        <value>True</value>
      </setting>
    </CheckAsm.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
